.newVideo {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 15px solid var(--azul7);
  border-radius: 8px;
  background-color: var(--blanco);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  justify-content: center;
  align-items: stretch;  
}

h1 {
  font-size: 30px;
  font-family: var(--font);
  color: var(--blanco);
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--azul8);
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 15px;
  color: var(--azul8);
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid var(--azul7);
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  max-width:none;
  font-family: var(--font);
}

textarea {
  height: 150px;
  font-family: var(--font);
  resize: none;
}

.error {
  color: var(--rojo);
  font-size: 12px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  padding: 12px;
  justify-content: center;
  margin-bottom: 18px;
}

.saveButton {
  background-color: var(--azul5);
  color: var(--blanco);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 14px;
}

.resetButton {
  background-color: var(--azul5);
  color: var(--blanco);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 14px;
}

.saveButton:hover,
.resetButton:hover {
  opacity: 0.9;
}